nav{
    width: 100%;
}
nav > ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
h1{
    margin-top: 50px;
    text-align: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box > div{
    flex-basis: 23%;
    margin: 1%;
    box-shadow: 0px 0px 2px 2px lightgray;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card > div{
    flex-basis: 23%;
    margin: 1%;
    box-shadow: 0px 0px 2px 2px rgb(217, 217, 217);
}